In [63]:
import psycopg2

conexion = psycopg2.connect(
    host = "localhost",
    database = "controle_atendimentos",
    user = "postgres",
    password = "Renan1013",
    port = 5432
)

In [64]:
import pandas as pd
cursor = conexion.cursor()
query = """SELECT *
    FROM public.atendimentos
    WHERE data_sessao >= date_trunc('month', CURRENT_DATE) - INTERVAL '1 month'
    AND data_sessao <  date_trunc('month', CURRENT_DATE)
    ORDER BY data_sessao, nome_cliente;
"""
cursor.execute(query)

resultados = cursor.fetchall()

df = pd.DataFrame(resultados, columns=['id', 'nome_cliente', 'data_sessao', 'valor', 'status', 'data_pagamento', 'criado_em'])

atendimentos_total = len(df)
valor_total_mes = df['valor'].sum()

In [65]:
df

,id,nome_cliente,data_sessao,valor,status,data_pagamento,criado_em
0,95,Beatriz,2025-11-02,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
1,85,Daniela,2025-11-02,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
2,112,Letícia,2025-11-03,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
3,101,Alana,2025-11-04,150.00,pago,None,2025-12-17 21:12:28.270843
4,90,Carlos,2025-11-05,160.00,pago,2025-12-22,2025-12-17 21:12:00.367590
5,81,Eduardo,2025-11-05,140.00,pago,2025-12-05,2025-12-17 21:11:07.395429
6,106,Renan,2025-11-05,120.00,pago,2025-11-05,2025-12-17 21:13:17.817422
7,96,Beatriz,2025-11-06,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
8,86,Daniela,2025-11-06,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
9,113,Letícia,2025-11-07,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
10,107,Renan,2025-11-08,120.00,pago,2025-11-08,2025-12-17 21:13:17.817422
11,102,Alana,2025-11-09,150.00,pago,None,2025-12-17 21:12:28.270843
12,91,Carlos,2025-11-10,160.00,pago,2025-12-22,2025-12-17 21:12:00.367590
13,87,Daniela,2025-11-10,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
14,82,Eduardo,2025-11-10,140.00,pago,2025-12-10,2025-12-17 21:11:07.395429
15,114,Letícia,2025-11-10,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
16,97,Beatriz,2025-11-11,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
17,140,Renan Muniz,2025-11-11,120.00,pago,2025-12-22,2025-12-22 21:53:13.851297
18,108,Renan,2025-11-12,120.00,pago,2025-11-12,2025-12-17 21:13:17.817422
19,144,Alana Muniz,2025-11-13,100.00,pendente,None,2025-12-22 22:25:57.356693
20,88,Daniela,2025-11-14,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
21,115,Letícia,2025-11-14,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
22,143,Renan Muniz,2025-11-14,120.00,pago,2025-12-22,2025-12-22 22:04:42.596305
23,92,Carlos,2025-11-15,160.00,pago,2026-01-15,2025-12-17 21:12:00.367590
24,83,Eduardo,2025-11-15,140.00,pago,2025-12-15,2025-12-17 21:11:07.395429
25,109,Renan,2025-11-15,120.00,pago,2025-11-15,2025-12-17 21:13:17.817422
26,103,Alana,2025-11-16,150.00,pago,None,2025-12-17 21:12:28.270843
27,141,Alana Muniz,2025-11-17,179.99,pago,2025-12-22,2025-12-22 21:54:10.414288
28,116,Letícia,2025-11-17,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
29,98,Beatriz,2025-11-18,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
30,89,Daniela,2025-11-18,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
31,138,Renan Muniz,2025-11-18,120.00,pago,2025-12-22,2025-12-22 21:02:41.312554
32,110,Renan,2025-11-19,120.00,pago,2026-02-01,2025-12-17 21:13:17.817422
33,93,Carlos,2025-11-20,160.00,pago,2026-02-04,2025-12-17 21:12:00.367590
34,84,Eduardo,2025-11-20,140.00,pago,2025-12-20,2025-12-17 21:11:07.395429
35,117,Letícia,2025-11-20,180.00,pago,2026-02-02,2025-12-17 21:13:33.206241
36,104,Alana,2025-11-21,150.00,pago,2026-02-03,2025-12-17 21:12:28.270843
37,139,Renan Muniz,2025-11-21,120.00,pago,2025-12-22,2025-12-22 21:52:59.692310
38,142,Renan Muniz,2025-11-21,120.00,pago,2025-12-22,2025-12-22 21:58:46.989190
39,111,Renan,2025-11-22,120.00,pago,2026-02-01,2025-12-17 21:13:17.817422
40,99,Beatriz,2025-11-23,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
41,118,Letícia,2025-11-24,180.00,pago,2026-02-02,2025-12-17 21:13:33.206241
42,94,Carlos,2025-11-25,160.00,pago,2026-02-04,2025-12-17 21:12:00.367590
43,105,Alana,2025-11-27,150.00,pago,2026-02-03,2025-12-17 21:12:28.270843
44,119,Letícia,2025-11-28,180.00,pago,2026-02-02,2025-12-17 21:13:33.206241
45,100,Beatriz,2025-11-29,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204

In [66]:
from variables import conexion
import pandas as pd
from flask import jsonify
from datetime import date

def tabela_atendimentos():
    
    cursor = None
    try:
        cursor = conexion.cursor()
        query = """SELECT *
            FROM public.atendimentos
            WHERE data_sessao >= date_trunc('month', CURRENT_DATE) - INTERVAL '1 month'
            AND data_sessao <  date_trunc('month', CURRENT_DATE)
            ORDER BY data_sessao, nome_cliente;
        """
        cursor.execute(query)
        resultados = cursor.fetchall()
        
        query_2 = """SELECT *
            FROM public.atendimentos
            
        """
        cursor.execute(query_2)
        resultados_2 = cursor.fetchall()
        
        

        df_last_month = pd.DataFrame(resultados, columns=['id', 'nome_cliente', 'data_sessao', 'valor', 'status', 'data_pagamento', 'criado_em'])
        
        df_all = pd.DataFrame(resultados_2, columns=['id', 'nome_cliente', 'data_sessao', 'valor', 'status', 'data_pagamento', 'criado_em'])

        atendimentos_total = len(df_last_month)
        valor_total_mes = float(df_last_month['valor'].sum())


        
    except Exception as e:
        import traceback
        traceback.print_exc()
        raise
        
    finally:
        if cursor:
            cursor.close()

    return df_last_month, df_all, atendimentos_total, valor_total_mes

In [67]:
df_last_month, df_all, atendimentos_total, valor_total_mes = tabela_atendimentos()

In [53]:
df_last_month

,id,nome_cliente,data_sessao,valor,status,data_pagamento,criado_em
0,95,Beatriz,2025-11-02,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
1,85,Daniela,2025-11-02,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
2,112,Letícia,2025-11-03,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
3,101,Alana,2025-11-04,150.00,pago,None,2025-12-17 21:12:28.270843
4,90,Carlos,2025-11-05,160.00,pago,2025-12-22,2025-12-17 21:12:00.367590
5,81,Eduardo,2025-11-05,140.00,pago,2025-12-05,2025-12-17 21:11:07.395429
6,106,Renan,2025-11-05,120.00,pago,2025-11-05,2025-12-17 21:13:17.817422
7,96,Beatriz,2025-11-06,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
8,86,Daniela,2025-11-06,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
9,113,Letícia,2025-11-07,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
10,107,Renan,2025-11-08,120.00,pago,2025-11-08,2025-12-17 21:13:17.817422
11,102,Alana,2025-11-09,150.00,pago,None,2025-12-17 21:12:28.270843
12,91,Carlos,2025-11-10,160.00,pago,2025-12-22,2025-12-17 21:12:00.367590
13,87,Daniela,2025-11-10,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
14,82,Eduardo,2025-11-10,140.00,pago,2025-12-10,2025-12-17 21:11:07.395429
15,114,Letícia,2025-11-10,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
16,97,Beatriz,2025-11-11,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
17,140,Renan Muniz,2025-11-11,120.00,pendente,None,2025-12-22 21:53:13.851297
18,108,Renan,2025-11-12,120.00,pago,2025-11-12,2025-12-17 21:13:17.817422
19,88,Daniela,2025-11-14,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
20,115,Letícia,2025-11-14,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
21,143,Renan Muniz,2025-11-14,120.00,pendente,None,2025-12-22 22:04:42.596305
22,92,Carlos,2025-11-15,160.00,pago,2026-01-15,2025-12-17 21:12:00.367590
23,83,Eduardo,2025-11-15,140.00,pago,2025-12-15,2025-12-17 21:11:07.395429
24,109,Renan,2025-11-15,120.00,pago,2025-11-15,2025-12-17 21:13:17.817422
25,103,Alana,2025-11-16,150.00,pago,None,2025-12-17 21:12:28.270843
26,141,Alana Muniz,2025-11-17,179.99,pendente,None,2025-12-22 21:54:10.414288
27,116,Letícia,2025-11-17,180.00,pago,2025-12-22,2025-12-17 21:13:33.206241
28,98,Beatriz,2025-11-18,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
29,89,Daniela,2025-11-18,170.00,pago,2025-12-22,2025-12-17 21:11:47.894442
30,138,Renan Muniz,2025-11-18,120.00,pago,2025-12-22,2025-12-22 21:02:41.312554
31,110,Renan,2025-11-19,120.00,pago,2026-02-01,2025-12-17 21:13:17.817422
32,93,Carlos,2025-11-20,160.00,pago,2026-02-04,2025-12-17 21:12:00.367590
33,84,Eduardo,2025-11-20,140.00,pago,2025-12-20,2025-12-17 21:11:07.395429
34,117,Letícia,2025-11-20,180.00,pago,2026-02-02,2025-12-17 21:13:33.206241
35,104,Alana,2025-11-21,150.00,pago,2026-02-03,2025-12-17 21:12:28.270843
36,139,Renan Muniz,2025-11-21,120.00,pendente,None,2025-12-22 21:52:59.692310
37,142,Renan Muniz,2025-11-21,120.00,pendente,None,2025-12-22 21:58:46.989190
38,111,Renan,2025-11-22,120.00,pago,2026-02-01,2025-12-17 21:13:17.817422
39,99,Beatriz,2025-11-23,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204
40,118,Letícia,2025-11-24,180.00,pago,2026-02-02,2025-12-17 21:13:33.206241
41,94,Carlos,2025-11-25,160.00,pago,2026-02-04,2025-12-17 21:12:00.367590
42,105,Alana,2025-11-27,150.00,pago,2026-02-03,2025-12-17 21:12:28.270843
43,119,Letícia,2025-11-28,180.00,pago,2026-02-02,2025-12-17 21:13:33.206241
44,100,Beatriz,2025-11-29,200.00,pago,2025-12-22,2025-12-17 21:12:15.004204

In [69]:
df_last_month['valor'].sum()

Decimal('7199.99')

In [1]:
pip install flask-login

Collecting flask-login
  Downloading Flask_Login-0.6.3-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: Flask>=1.0.4 in c:\users\renan muniz\appdata\local\programs\python\python313\lib\site-packages (from flask-login) (3.1.1)
Requirement already satisfied: Werkzeug>=1.0.1 in c:\users\renan muniz\appdata\local\programs\python\python313\lib\site-packages (from flask-login) (3.1.3)
Requirement already satisfied: blinker>=1.9.0 in c:\users\renan muniz\appdata\local\programs\python\python313\lib\site-packages (from Flask>=1.0.4->flask-login) (1.9.0)
Requirement already satisfied: click>=8.1.3 in c:\users\renan muniz\appdata\local\programs\python\python313\lib\site-packages (from Flask>=1.0.4->flask-login) (8.2.1)
Requirement already satisfied: itsdangerous>=2.2.0 in c:\users\renan muniz\appdata\local\programs\python\python313\lib\site-packages (from Flask>=1.0.4->flask-login) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in c:\users\renan muniz\appdata\local\programs\python\python313\lib\site-packages (from Flask>=1.0.4->flask-login) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in c:\users\renan muniz\appdata\local\programs\python\python313\lib\site-packages (from Flask>=1.0.4->flask-login) (3.0.2)
Requirement already satisfied: colorama in c:\users\renan muniz\appdata\local\programs\python\python313\lib\site-packages (from click>=8.1.3->Flask>=1.0.4->flask-login) (0.4.6)
Downloading Flask_Login-0.6.3-py3-none-any.whl (17 kB)
Installing collected packages: flask-login
Successfully installed flask-login-0.6.3
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~umpy (c:\Users\Renan Muniz\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (c:\Users\Renan Muniz\AppData\Local\Programs\Python\Python313\Lib\site-packages)
WARNING: Ignoring invalid distribution ~umpy (c:\Users\Renan Muniz\AppData\Local\Programs\Python\Python313\Lib\site-packages)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from werkzeug.security import generate_password_hash
print(generate_password_hash("SENHA_FORTE_AQUI"))

scrypt:32768:8:1$qSOJgI9gnWBZESc9$09842dd4a141939198f8c643f3f7013904c522f3f2b7a43c8d4b95d949691c62322651c657771f19806b7d2d6c117910efef27d1ea3fa78af52f32596660af8a

In [4]:
from werkzeug.security import generate_password_hash
print(generate_password_hash("1234"))

scrypt:32768:8:1$7uJiyh9JmtmvMZOl$88a30c2dbd8c532505cbc18feb6671174039ba3d33d1d226e178e65a145fda8744796679020c276b2dbceb08312d8ec786c82c94807f59b635a8ce522c4516c6